body {
  min-width: 320px;
  font-size: 18px;
  line-height: 27px;
  font-family: $font-stack;
  font-style: normal;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  display: none;
}

.container {
}
