.filter-radio {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
}

.filter-radio + label {
  cursor: pointer;
}

.filter-radio:not(checked) {
  position: absolute;
  opacity: 0;
}

.filter-radio:not(checked) + label {
  position: relative;
  padding: 0 0 0 60px;
  margin-bottom: 50px;
}

.filter-radio:not(checked) + label:last-of-type {
  margin-bottom: 0;
}

.filter-radio:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 35px;
  height: 35px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  background: #FFF;
}

.filter-radio:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 9px;
  left: 12px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #d22856;
  opacity: 0;
  transition: all .2s;
}

.filter-radio:checked + label:after {
  opacity: 1;
}

@media (min-width: $tablet-width) {

}

@media (min-width: $desktop-width) {

}
