.filter-radio {
  padding-left: 15px;
  margin: 30px 0 30px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filter-radio__input {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
  position: absolute;
  opacity: 0;
}

.filter-radio__input + label {
  cursor: pointer;
  position: relative;
  padding: 0 0 0 60px;
  margin-bottom: 50px;
}

.filter-radio__input + label:last-of-type {
  margin-bottom: 0;
}

.filter-radio__input + label::before {
  content: " ";
  position: absolute;
  top: -3px;
  left: 0;
  width: 35px;
  height: 35px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  background: #ffffff;
}

.filter-radio__input:hover + label::before {
  border: 2px solid #354250;
}

.filter-radio__input:active + label::before {
  border: 2px solid #d22856;
}

.filter-radio__input + label::after {
  content: " ";
  position: absolute;
  top: 9px;
  left: 12px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #d22856;
  opacity: 0;
}

.filter-radio__input:active + label::after {
  content: " ";
  position: absolute;
  top: 9px;
  left: 12px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #d22856;
  opacity: 1;
}

.filter-radio__input:checked + label::after {
  opacity: 1;
}

.filter-radio__input:active:checked + label::after {
  content: " ";
  position: absolute;
  top: 9px;
  left: 12px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #d22856;
  opacity: 0;
}

@media (min-width: $tablet-width) {
  .filter-radio {
    padding-left: 15px;
    margin: 30px 0 30px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (min-width: $desktop-width) {
  .filter-radio {
    max-width: 300px;
    padding: 20px 0 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
