.form-data {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.form-data__full-name {
  border: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 20px;
}

.form-data__label-names {
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
}

.form-data__names {
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}

.form-data__filter {
  border: none;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
}

.form-data__legend-filters {
  color: #d22856;
  text-align: center;
}

.form-data__contacts {
  border: none;
  color: #d22856;
  display: flex;
  flex-direction: column;
}

.form-data__filter-radio {
  border: none;
  display: flex;
  flex-direction: column;
}

.form-data__emotions {
  border: none;
}

.form-data__submit {
  background-color: #2aab6d;
  border: none;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  padding: 20px 48px 24px 48px;
}

.form-data__star {
  color: #d22856;
}

.form-data__button {
  align-self: center;
}

@media (min-width: $tablet-width) {
  .form-data {
    width: 100%;
  }

  .form-data__filter {
    border: 2px solid #e5e5e5;
    background-color: transparent;
    margin: 0 20px;
  }

  .form-data__filter-radio {
    border: 2px solid #e5e5e5;
    margin: 0 20px;
  }

  .form-data__contacts {
    border: 2px solid #e5e5e5;
    margin: 0 20px;
  }

  .form-data__emotions {
    border: 2px solid #e5e5e5;
    margin: 0 20px;
  }

  .form-data__button {
    margin: 65px 20px 0 20px;
    display: flex;
    justify-content: space-between;
    width: 93%;
  }

  .form-data__submit {
    width: 300px;
    height: 60px;
    vertical-align: middle;
  }
}

@media (min-width: $desktop-width) {
  .form-data {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 78.3%;
  }

  .form-data__button {
    width: 100%;
  }

  .form-data__full-name {
    width: 50%;
    padding: 0;
    order: 0;
  }

  .form-data__filter-radio {
    width: 49%;
    padding: 0;
    margin: 0;
    order: 1;
  }

  .form-data__filter {
    width: 100%;
    margin: 0;
    order: 3
  }

  .form-data__contacts {
    width: 100%;
    order: 2;
    margin: 0;
  }

  .form-data__emotions {
    width: 100%;
    order: 4;
  }

  .form-data__button {
    order: 5;
  }

}
