.form-preview{
    padding: 80px 20px 20px 20px;
    color: #ffffff;
}

.form-preview__text{
    font-size: 24px;
    text-align: center;
}

.form-preview__info{
    background-color: #ffffff;
    color: #000000;
    padding: 55px 20px 45px 20px;
    color: #283645;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
}
