.form-preview {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 235px;
}

.form-preview__wrapper {
  display: flex;
  justify-content: center;
  padding: 0 20px;
}

.form-preview__item {
  font-size: 24px;
  font-weight: normal;
  line-height: 30px;
  text-align: center;
  padding: 0;
  color: #ffffff;
  width: 87%;
  margin: 100px 0 50px 0;
}

.form-preview__wrapper-info {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.form__info {
  width: 87%;
  margin: 0;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}

@media (min-width: $tablet-width) {
  .form-preview__wrapper {
    padding-top: 70px;
    display: flex;
    justify-content: center;
  }

  .form-preview__item {
    font-size: 50px;
    font-weight: normal;
    line-height: 55px;
    padding: 0;
    color: #ffffff;
    width: 93%;
  }

  .form-preview__wrapper-info {
    display: flex;
    justify-content: center;
    padding: 100px 0 75px 0;
  }

  .form__info {
    width: 80%;
    margin: 0;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    color: #283645;
  }
}

@media (min-width: $desktop-width) {
  .form-preview__wrapper {
    width: 80%;
    padding-top: 70px;
    display: flex;
    justify-content: center;
  }

  .form-preview {
    padding: 0;
    color: #ffffff;
    width: 85%;
  }

  .form-preview__item {
    font-size: 50px;
    font-weight: normal;
    line-height: 55px;
    padding: 0;
    color: #ffffff;
    width: 85%;
    margin: 105px 0 110px 0;
  }

  .form-preview__wrapper-info {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 90px 0 65px 0;
  }

  .form__wrapper {
    max-width: 940px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .form__info {
    width: 85%;
    margin: 0;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    color: #283645;
  }
}
