.post__list {
      list-style: none;
      padding: 0;
      margin: 0;
}

.post-standart {
      margin: 0 20px;
}

.post__information {
      margin: 0 20px;
      padding: 25px 0;
      background-color: #f2f2f2;
}
.post__end {
      padding: 50px 0px;
}

.post__text {
      text-align: center;
      font-size: 14px;
      line-height: 30px;
}
