.download {
  background-color: rgba(29, 38, 49, 1);
  color: #ffffff;
  width: 100%;
}

.download__wrapper {
  font-family: $font-stack;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px 20px 30px;
}

.download__text {
  display: none;
}

.download__button {
  color: #ffffff;
  text-decoration: none;
  border: 2px solid #ffffff;
  border-radius: 35px;
  display: block;
  padding: 10px 40px;
  margin-top: 30px;
}

.download__list {
  list-style: none;
  display: flex;
  padding: 0;
}

.download__item {
  display: flex;
  align-items: flex-end;
  padding-left: 35px;
}

.download__item:first-of-type {
  padding-left: 0;
}

.download__description {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  text-align: center;
  padding: 0 40px;
}

@media (min-width: $tablet-width) {
  .download {
    background-color: transparent;
    color: #ffffff;
    width: 340px;
    padding: 210px 0 110px 0;
  }

  .download__text {
    display: block;
    font-size: 40px;
    font-weight: normal;
    width: 235px;
    margin: 40px 0 0 0;
    text-align: center;
    line-height: 50px;
  }
}
