.download {
  background-color: rgba(29, 38, 49, 1);
  color: #ffffff;
  width: 100%;
  margin: 460px auto 0 auto;
}

.download__wrapper {
  font-family: $font-stack;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 87.5%;
  max-width: 280px;
  margin: 0 auto;
}

.download__text {
  display: none;
  margin: 0;
  font-weight: lighter;
}

.download__button {
  color: #ffffff;
  text-decoration: none;
  border: 3px solid #ffffff;
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
  height: 55px;
  font-weight: bolder;
  box-sizing: border-box;
}

.download__button:hover {
  background-color: #ffffff;
  color: #d22856;

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}

.download__list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 29px 0 7px 0;
}

.download__item {
  display: flex;
  align-items: flex-end;
  padding-left: 35px;
}

.download__item:first-of-type {
  padding-left: 0;
}

.download__description {
  font-size: 14px;
  line-height: 24px;
  font-weight: lighter;
  text-align: center;
  padding: 0;
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .download {
    background-color: transparent;
    color: #ffffff;
    width: 340px;
    margin: 200px 0 90px 0;
  }

  .download__list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 46px 0 19px 0;
  }

  .download__text {
    display: block;
    font-size: 40px;
    font-weight: lighter;
    width: 235px;
    text-align: center;
    line-height: 50px;
  }

  .download__wrapper {
    width: 100%;
    max-width: 300px;
    margin: 0;
  }

  .download__description {
    font-size: 18px;
    line-height: 24px;
  }

  .download__button {
    margin-top: 26px;
  }
}

@media (min-width: $desktop-width) {
  .download {
    background-color: transparent;
    color: #ffffff;
    width: 300px;
    margin: 218px 0 0 0;
  }

  .download__text {
    font-size: 50px;
    font-weight: lighter;
    line-height: 60px;
    margin: 0;
  }

  .download__button {
    width: 100%;
    margin-top: 52px;
    font-weight: bolder;
    font-size: 21px;
    border: 2px solid #ffffff;
  }

  .download__description {
    font-size: 18px;
    line-height: 24px;
    padding: 0;
    margin: 0;
    width: 320px;
    opacity: 0.5;
  }

  .download__wrapper {
    font-family: $font-stack;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 300px;
  }

  .download__list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 65px 0 60px 0;
    color: #ffffff;
  }
}
