.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f2f2f2 url("../img/bg-triangle-white.svg") no-repeat;
  background-size: contain;
  background-position-x: -5px;
}

.features__img {
  transform: rotate(180deg);
  width: 100%;
}

.features__wrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background-color: #f2f2f2;
  width: 100%;
}

.features__inside-wrapper {
  width: 87.5%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.features__bg {
  width: 160px;
  height: 275px;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: 160px 310px;
  overflow: hidden;
}

.features__list {
  padding: 0;
  margin: 90px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.features__item {
  margin: 0 0 29px 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.features__item--friends {
  margin-bottom: 315px;
}

.features__item--friends::after {
  content: "";
  display: block;
  overflow: hidden;
  height: 280px;
  width: 160px;
  bottom: 0;
  background-image: url("../img/iphone-screen-mobile@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/iphone-screen-mobile@2x.png");
    background-size: 160px auto;
  }

  background-repeat: no-repeat;
  position: absolute;
}

.features__item--mood::before,
.features__item--world::before {
  display: none;
}

.features__item-wrapper {
  text-align: center;
  width: 87.5%;
}

.features__title {
  font-size: 18px;
  line-height: 24px;
  margin-top: 0;
}

.features__discription {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .features {
    flex-direction: row-reverse;
    align-items: center;
    background: #f2f2f2 url("../img/bg-triangle-white.svg") no-repeat;
    background-size: contain;
    background-position-x: -5px;
    padding-top: 75px;
  }

  .features__bg {
    width: 270px;
    height: 485px;
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    background-size: 270px 550px;
    overflow: hidden;
  }

  .features__list {
    margin: 0 auto;
    position: relative;
  }

  .features__item {
    text-align: left;
    margin: 0 0 32px 45%;
  }

  .features__title {
    margin-bottom: 14px;
  }

  .features-item--mood {
    margin-top: 75px;
  }

  .features__item--friends {
    padding-bottom: 0;
    margin-bottom: 40px;
  }

  .features__item--friends::after {
    display: none;
  }

  .features__item--friends::before {
    content: "";
    display: block;
    overflow: hidden;
    height: 480px;
    width: 265px;
    position: absolute;
    bottom: 0;
    left: 3%;
    background-image: url("../img/iphone-screen-3-tablet@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-screen-3-tabletp@2x.png");
      background-size: 536px auto;
    }

    background-repeat: no-repeat;
    background-position: center;
  }

  .features__item-wrapper {
    text-align: left;
    width: 87.5%;
    padding-left: 22px;
  }

  .features__discription {
    text-align: left;
  }

  .features-image {
    width: 100%;
  }

  .features__iphones {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .features {
    padding-top: 0;
  }

  .features__inside-wrapper {
    width: 78.3%;
    min-height: 460px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }

  .features__iphones {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 300px;
    top: 0;
    transform: translateY(-100px);
  }

  .features__bg {
    display: none;
  }

  .features-image {
    width: 58.1%;
    height: 335px;
    transform: translateY(65px);
  }

  .features__list {
    margin-left: 0;
    margin-top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }

  .features__item {
    text-align: center;
    margin-bottom: 0;
    width: 320px;
    min-height: 555px;
    margin-left: 0;
  }

  .features__title {
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    margin: 2px 0 25px -6px;
  }

  .features__discription {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
    color: #283645;
    width: 240px;
  }

  .features__item::before {
    content: "";
    display: block;
    overflow: hidden;
    height: 300px;
    width: 270px;
    margin-bottom: 55px;
    position: relative;
  }

  .features__item--mood::before {
    background-image: url("../img/iphone-screen-1-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-screen-1-desktop@2x.png");
      background-size: cover;
    }

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .features__item--mood .features__discription {
    width: auto;
  }

  .features__item--world::before {
    background-image: url("../img/iphone-screen-2-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-screen-2-desktop@2x.png");
      background-size: cover;
    }

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .features__item--friends::before {
    background-image: url("../img/iphone-screen-3-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-screen-3-desktop@2x.png");
      background-size: cover;
    }

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 270px;
    left: 0;
  }

  .features__item--friends .features__title {
    width: 230px;
    margin-left: 6px;
  }

  .features__item-wrapper {
    min-height: 200px;
    width: 250px;
    text-align: center;
    padding-left: 0;
  }
}
