.main-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.main-nav__item {
  background-color: #283645;
  display: flex;
  justify-content: center;
  border-bottom: 1px #000000 solid;
  border-top: 1px #485461 solid;
}

.main-nav__item a {
  text-decoration: none;
  padding: 25px 0;
  color: #ffffff;
}

@media (max-width: $mobile-width-only) {
  .main-nav--nojs .page-header__toggle {
    display: none;
  }

  .main-nav--nojs .page-header__nav-wrapper {
    position: static;
    min-height: 0;
  }

  .main-nav--nojs .site-list__item {
    display: block;
  }

  .main-nav--nojs .site-list__item--active a {
    padding-right: 21px;
    padding-left: 21px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    min-width: 622px;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
  }

  .main-nav__item {
    background-color: transparent;
    border: none;
  }

  .main-nav__item a {
    color: #ffffff;
  }
}
