.main-nav {
  display: none;
}

.main-nav__list {
  list-style: none;
  display: none;
  padding: 0;
  margin: 0;
}

.main-nav__item {
  background-color: #283645;
  display: flex;
  justify-content: center;
  border-bottom: 1px #000000 solid;
  border-top: 1px #485461 solid;
  color: #ffffff;
}

.main-nav__item a {
  text-decoration: none;
  padding: 25px 0;
}

.main-nav__toggle {
  border: none;
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    display: inline-block;
    width: 65%;
  }

  .main-nav__list {
    min-width: 622px;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
  }

  .main-nav__item {
    background-color: transparent;
    border: none;
  }

  .main-nav__item a {
    color: #ffffff;
  }

  .main-nav__toggle {
    display: none;
  }
}
