.main-footer__wrapper-inside {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.main-footer__copyright {
  display: flex;
}

.main-footer__developed {
  color: #283645;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  margin: 5px 15px 0 0;
}

.main-footer__logo svg > path {
  fill: #d22856;
}

.main-footer__logo:hover svg > path {
  fill: #283645;
}

.main-footer__logo:active svg > path {
  fill: #bec2c7;
}

.main-footer__index--mobile {
  display: none;
}

.main-footer__logo-mobile:hover g > path {
  fill: #d22856;
}

.main-footer__logo-mobile:active g > path {
  fill: #bec2c7;
}

.main-footer__logo-desk {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-footer {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .main-footer__wrapper-inside {
    flex-direction: row;
    justify-content: space-between;
    width: 93.9%;
  }

  .main-footer__logo-desk {
    display: block;
  }

  .main-footer__logo-desk:hover .main-footer__logo-color path {
    fill: #d22856;
  }

  .main-footer__logo-desk:active .main-footer__logo-color path {
    fill: #bec2c7;
  }

  .main-footer__logo-mobile {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__wrapper-inside {
    padding: 40px 0;
    max-width: 940px;
  }
}
