.page-header {
  font-family: $font-stack;
  background-color: rgba(29, 38, 50, 0.3);
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  width: 100%;
  margin: 0 auto;
  min-height: 70px;
}

.page-header .main-nav--closed {
  display: none;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 66px;
  margin: 0 auto;
  background-color: transparent;
  margin-top: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.main-nav--opened .page-header__wrapper {
  background-color: #283645;
  position: relative;
}

.main-nav--opened .main-nav__wrapper,
.main-nav--opened .main-nav
 {
  display: block;
  position: relative;
}

.main-nav--opened .preview {
  transform: translateY(-66px);
}

.main-nav--opened .preview__photo {
  transform: translateY(-66px);
}

.page-header__logo {
  width: 150px;
  height: 40px;
  position: absolute;
  top: 22px;
  left: 20px;
  z-index: 2;
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .page-header__logo {
    width: 150px;
    height: 40px;
    top: 27px;
    left: 20px;
  }

  .page-header__wrapper {
    min-height: 110px;
  }

  .page-header__logo-image {
    width: 150px;
    height: 40px;
  }

  .page-header__whiteLogo {
    display: none;
  }

  .page-header__blueLogo {
    display: block;
    fill: #ffffff;
  }

  .page-header__blueLogo path {
    fill: #ffffff;
  }

  .main-nav--opened .preview {
    transform: translateY(-110px);
  }

  .main-nav--opened .preview__photo {
    transform: translateY(-110px);
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    flex-direction: column;
  }

  .page-header__logo {
    width: 150px;
    height: 40px;
    left: 0;
  }

  .page-header__wrapper {
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    position: absolute;
    margin: 0 auto;
  }

  .page-header__desktop {
    width: 78.3%;
    max-width: 940px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin: 0 auto;
  }
}
