.page-header {
  font-family: $font-stack;
  background-color: rgba(29, 38, 50, 0.3);
  padding: 22px 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 87%;
}

.page-header__logo {
  width: 80px;
  height: 20px;
  padding: 10px 10px;
}

.page-header__blueLogo {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    justify-content: center;
  }

  .page-header__logo {
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
  }

  .page-header__whiteLogo {
    display: none;
  }

  .page-header__blueLogo {
    display: block;
    fill: #ffffff;
  }

  .page-header__blueLogo path {
    fill: #ffffff;
  }

  .page-header__wrapper {
    width: 94%;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    width: 150px;
    height: 40px;
  }

  .page-header__wrapper {
    width: 70%;
  }

  .page-header__wrapper-desktop {
    min-width: 940px;
    display: flex;
  }
}
