
.page-header {
  font-family: $font-stack;
  background-color: rgba(29, 38, 50, 0.3);
  color: #ffffff;
  padding: 22px 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.page-header__logo {
  width: 78px;
  height: 23px;
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    width: 150px;
    height: 40px;
  }
}

@media (min-width: $desktop-width) {

}
