.preview-info {
  font-family: $font-stack;
  background-color: #ffffff;
  padding: 0 40px 0 40px;
}

.preview-info__quest {
  font-size: 24px;
  color: #283645;
  text-align: center;
  margin: 25px 0 0 0;
}

.preview-info__answ {
  font-size: 24px;
  color: #283645;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .preview-info {
    padding: 60px 0 55px 0;
  }

  .preview-info__quest {
    margin: 0;
    font-size: 40px;
    line-height: 45px;
  }

  .preview-info__answ {
    margin: 0;
    font-size: 40px;
    line-height: 45px;
  }
}

@media (min-width: $desktop-width) {
  .preview-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .preview-info__quest {
    font-size: 50px;
    margin: 0;
    line-height: 60px;
    font-weight: normal;
  }

  .preview-info__answ {
    font-size: 50px;
    line-height: 60px;
    margin: 0;
    font-weight: normal;
  }
}
