.preview {
  background-image: url("../img/bg-back-mobile@1x.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.jpg");
    background-size: 700px auto;
  }

  background-position: top;
  background-repeat: no-repeat;
  background-size: 700px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.preview__wrapper {
  width: 100%;
  margin: 0 auto;
  background-image: url("../img/iphone-hand-mobile@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.png");
    background-size: 258px auto;
  }

  background-position: 0 175px;
  background-size: 258px auto;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column-reverse;
}

@media (min-width: $tablet-width) {
  .preview {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: cover;
    }
  }

  .preview__image {
    order: 2;
    width: 560px;
  }

  .preview__wrapper {
    width: 94%;
    max-width: 940px;
    margin: 0 auto;
    height: inherit;
    background-image: url("../img/iphone-hand-tablet@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png");
      background-size: 700px auto;
    }

    background-size: 700px auto;
    background-position: -40px bottom;
    background-repeat: no-repeat;
    flex-direction: row;
    justify-content: flex-start;
  }
}

/*Для IE 11 */

@media (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .preview {
    background-image: url("../img/bg-back-desktop@2x.jpg");
    background-size: 2560px auto;
  }
}

@media (min-width: $desktop-width) {
  .preview {
    background-image: url("../img/bg-back-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 2560px auto;
    }

    background-size: 2560px auto;
    display: flex;
  }

  .preview__wrapper {
    width: 100%;
    max-width: 940px;
    min-height: 853px;
    background-position-x: 15px;
    background-size: 1050px auto;
    background-image: url("../img/iphone-hand-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png");
      background-size: 1050px auto;
    }
  }
}
