.preview-info {
  font-family: $font-stack;
  background-color: #ffffff;
  padding: 46px 40px 0 40px;
}

.preview-info__text {
  font-size: 24px;
  color: #283645;
  text-align: center;
  margin: 25px 0 0 0;
}

@media (min-width: $tablet-width) {
  .preview-info__text {
    font-size: 40px;
  }
}
