.preview {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 235px;
}

.preview__wrapper{
  min-height: 730px;
  margin: 0 auto;
  background-image: url("../img/mobile2.png");
  background-position: -15px;
  background-size: 260px 290px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column-reverse;
}

@media (min-width: $tablet-width) {
  .preview {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 440px;
  }

  .preview__image{
    order: 2;
    width: 560px;
  }

  .preview__wrapper{
    min-width: 620px;
    margin: 0 auto;
    height: inherit;
    background-image: url("../img/mobile2.png");
    background-size: 470px 550px;
    background-position: bottom;
    background-repeat: no-repeat;
  }
}

@media (min-width: $desktop-width) {
  .preview {
    background-image: url("../img/desktop-background.jpg");
    display: flex;
    min-height: 395px;
  }
}
