.price {
  display: flex;
  flex-direction: column;
  background-image: url("../img/bg-triangle-white.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #f2f2f2;
  padding-top: 80px;
  padding-bottom: 20px;
}

.price__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.price__table {
  display: table;
  width: 93.9%;
  margin-left: -65%;
}

.price__text {
  color: #ffffff;
  background-color: #283645;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.price__title {
  margin: 0;
  padding-bottom: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.price__description {
  color: #ffffff;
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .price {
    align-items: center;
    padding: 80px 0 43px 0;
  }

  .price__wrapper {
    width: 100%;
    min-width: 660px;
    padding-bottom: 50px;
  }

  .price__table {
    width: 93.9%;
    border-collapse: collapse;
    margin-left: 0;
  }

  .price__toggles {
    display: none;
  }

  .price__text {
    padding: 14px 0 6px 0;
  }

  .price__description {
    font-size: 18px;
    line-height: 30px;
  }

  .price__title {
    padding-bottom: 0;
    font-size: 16px;
    line-height: 30px;
    font-weight: bold;
  }
}

@media (min-width: $desktop-width) {
  .price {
    align-items: center;
    padding-bottom: 50px;
  }

  .price__wrapper {
    width: 100%;
    padding-bottom: 0;
  }

  .price__table {
    width: 100%;
    max-width: 940px;
    margin: 77px auto 45px auto;
    border-collapse: collapse;
  }

  .price__toggles {
    display: none;
  }

  .price__text {
    padding: 18px 0 18px 0;
  }

  .price__description {
    font-size: 24px;
    line-height: 30px;
  }

  .price__title {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    padding-bottom: 5px;
  }
}
