.site-list {
  font-weight: bold;
}

.site-list__item {
  display: flex;
  justify-content: center;
}

.site-list a {
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  display: inline-block;
  font-size: 18px;
  line-height: 60px;
  text-transform: uppercase;
  background-color: transparent;
  width: 100%;
  border-top: 1px solid #485461;
  padding-top: 1px;
}

.site-list a[href] {
  &:hover {
    color: #d22856;
  }

  &:active {
    color: #6d3650;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item a {
    font-size: 18px;
    font-weight: normal;
    line-height: 18px;
    text-transform: none;
  }

  .site-list__item-upper {
    text-transform: uppercase;
  }

  .site-list a {
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    display: inline-block;
    font-size: 18px;
    height: 32px;
    background-color: transparent;
    margin-top: 0;
    padding: 35px 0 25px 0;
    width: auto;
    border-top: none;
  }

  .site-list a[href] {
    &:hover {
      color: #af2c52;
    }

    &:active {
      color: #7f858c;
    }
  }

  .site-list__active {
    border-bottom: 2px solid #ffffff;
    box-sizing: border-box;
  }
}
