.slider-radio__input {
  vertical-align: top;
  width: 12px;
  height: 12px;
  margin: 0 3px 0 0;
  position: absolute;
  opacity: 0;
}

.slider-radio fieldset {
  border: none;
  padding-top: 13px;
}

.slider-radio__wrapper {
  margin-top: 31px;
  margin-left: 12px;
}

.slider-radio__input + label {
  cursor: pointer;
  position: relative;
  padding: 0 0 0 25px;
  margin-bottom: 50px;
}

.slider-radio__input + label:last-of-type {
  margin-bottom: 0;
}

.slider-radio__input + label::before {
  content: " ";
  position: absolute;
  top: -3px;
  left: 0;
  width: 12px;
  height: 12px;
  border: 3px solid #283645;
  border-radius: 50%;
  background: #ffffff;
  box-sizing: border-box;
  opacity: 0;
}

.slider-radio__input + label::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 3px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #bec2c7;
}

.slider-radio__input:checked + label::before {
  opacity: 1;
}

.slider-radio__input:checked + label::after {
  opacity: 0;
}

.slider-radio__input:hover + label::after {
  background: #7e868f;
}

.slider-radio__input:active + label::after {
  background: #e9ebec;
}

@media (min-width: $tablet-width) {
  .slider-radio fieldset {
    padding-left: 32px;
  }

  .slider-radio--closed {
    display: none;
  }

  .slider-radio__wrapper {
    margin-top: 29px;
  }
}

@media (min-width: $desktop-width) {
  .slider-radio {
    display: none;
  }
}
