.social__list {
  list-style: none;
  padding: 0;
  display: flex;
}

.social__item {
  border: 3px solid #e9ebec;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  padding: 10px 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__link--facebook {
  transform: translateY(2px);
}

.social__link--youtube {
  transform: translateX(2px);
}

.social__link-color {
  fill: #d22856;
}

.social__item:hover {
  border: 3px solid #283645;
}

.social__item:active {
  border: 3px solid #e9ebec;
}

.social__item:active .social__link-color {
  fill: #f1becc;
}
