.photo-preview {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
}

.photo-preview__item {
  font-size: 24px;
  font-weight: lighter;
  line-height: 30px;
  text-align: center;
  padding: 45px 0 60px 0;
  color: #ffffff;
  width: 87%;
}

@media (min-width: $tablet-width) {
  .photo-preview__item {
    font-size: 50px;
    font-weight: normal;
    padding: 180px 0 140px 0;
    width: 400px;
    margin: 0;
    line-height: 60px;
  }
}

@media (min-width: $desktop-width) {
  .photo-preview {
    padding: 175px 0 100px 0;
  }

  .photo-preview__item {
    font-size: 50px;
    font-weight: lighter;
    padding: 0;
    width: 400px;
    margin: 0;
    line-height: 60px;
  }
}
