.post__info-wrapper {
  display: flex;
  justify-content: center;
  padding: 0 5px;
}

.post__info {
  width: 87%;
  margin: 0;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  padding: 45px 0 50px 0;
}

.post__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.post__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 87%;
  max-width: 300px;
}

.post-image__pic {
  width: 100%;
  vertical-align: bottom;
}

.post__item-panorama {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.post__panorama {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.post__panorama-image {
  width: 100%;
  vertical-align: bottom;
}

.post__information-wrapper {
  width: 87%;
}

.post__item-small {
  width: 100%;
}

.post__list-small {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-standart {
  margin: 0 20px;
}

.post__information {
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
  line-height: 24px;
  background-color: #f2f2f2;
}

.post__information-panorama {
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
  line-height: 24px;
  background-color: #f2f2f2;
}

.post__nickname {
  font-weight: bold;
  margin: 0;
}

.post__comment {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}

.post__time {
  font-size: 12px;
  font-weight: normal;
  margin-left: 5px;
  text-transform: uppercase;
}

.post__rate {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.post__heart {
  margin-right: 20px;
}

.post__heart g > path {
  fill: #d22856;
}

.post__heart-count {
  margin: 0;
  text-transform: uppercase;
  color: #d22856;
  font-size: 12px;
  line-height: 24px;
}

.post__end {
  padding: 10px 20px 40px 20px;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}

.post__text {
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  margin: 0;
}


@media (min-width: $tablet-width) {
  .post__item {
    min-height: 455px;
    margin-bottom: 20px;
  }

  .post__information-wrapper {
    width: 93%;
  }

  .post__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .post__item-panorama {
    width: 100%;
    margin-bottom: 50px;
  }

  .post-image__pic {
    flex-grow: 1;
  }

  .post__information {
    min-height: 155px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 25px 25px;
  }

  .post__information-panorama {
    padding: 25px 25px;
    position: relative;
  }

  .post__item-small {
    width: 93.9%;
    margin: 0 auto;
  }

  .post__list-small {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .post__rate {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
  }

  .post__text {
    font-size: 18px;
    line-height: 30px;
    margin: 0;
  }

  .post__end {
    padding: 40px 0 70px 0;
  }

  .post__info {
    width: 450px;
    font-size: 18px;
    line-height: 30px;
    padding: 90px 0 78px 0;
  }

  .post__panorama {
    width: 150px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    right: 0;
    margin: 0;
  }

  .post__panorama-image {
    height: 510px;
  }
}

@media (min-width: 975px) {
  .post__item {
    margin: 0 50px 20px 50px;
  }
}

@media (min-width: $desktop-width) {
  .post__item {
    margin: 0 0 50px 0;
  }

  .post__information-wrapper {
    width: 78%;
    max-width: 940px;
  }

  .post__info {
    width: 630px;
    padding-bottom: 90px;
  }

  .post__info-wrapper {
    padding: 0;
    width: 700px;
    margin: 0 auto;
  }

  .post__panorama-image {
    max-height: 505px;
    max-width: 1200px;
  }

  .post__information {
    max-height: 155px;
    box-sizing: border-box;
  }

  .post__information-text {
    transform: translate(1px, -3px);
  }

  .post__information-panorama {
    position: relative;
  }

  .post__item-small {
    width: 80%;
    max-width: 960px;
  }

  .post__list-small {
    justify-content: space-around;
  }

  .post__panorama {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 30px;
    width: 120px;
  }

  .post__heart {
    margin: 7px;
  }

  .post__panorama img {
    margin: 0 0 0 20px;
  }

  .post__rate {
    margin-top: 10px;
  }

  .post__end {
    padding: 12px 0 67px 0;
  }

  .post-upload__photo {
    margin: 15px 0;
  }
}
