.post-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
}

.post-upload__photo {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.post-upload__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 87.5%;
  margin: 0 auto;
}

.post-upload__fieldset {
  border: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.post-upload__option {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.post-upload__option label {
  display: block;
  font-weight: normal;
  line-height: 21px;
  font-size: 14px;
}

.post-upload__option input[type="checkbox"] {
  display: none;
}

.post-upload__option input[type="checkbox"] + label > svg > .post-upload__color {
  fill: #b5b9be;
}

.post-upload__option input[type="checkbox"]:checked + label > svg > .post-upload__color {
  fill: #d22856;
}

.post-upload__option input[type="checkbox"]:hover + label > svg > .post-upload__color {
  fill: #8d949b;
}

.filter-option-label-last {
  text-align: center;
}

.post-upload__buttons {
  background-color: #f2f2f2;
  border-top: 1px #dddfe0 solid;
  display: flex;
  flex-direction: column;
  padding: 80px 20px 0 20px;
  margin: 20px 0;
}

.post-upload__post,
.post-upload__cancel {
  border-radius: 35px;
  padding: 20px 0;
  margin-bottom: 10px;
  background-color: #f2f2f2;
  outline: none;
  width: 280px;
}

.post-upload__post {
  border: solid 2px #d22856;
  color: #d22856;
  font-size: 18px;
  line-height: 18px;
}

.post-upload__post:hover {
  background-color: #d22856;
  color: #ffffff;
}

.post-upload__post:active {
  background-color: #d22856;
  color: rgba(255, 255, 255, 0.3);
}

.post-upload__cancel {
  border: solid 2px #dddfe0;
  color: #dddfe0;
  font-size: 18px;
  line-height: 18px;
}

.post-upload__cancel:hover {
  border: solid 2px #b5b9be;
  color: #c2c4c7;
}

.post-upload__cancel:active {
  background-color: #b5b9be;
  color: #c2c4c7;
}

.post-upload__range {
  border: none;
  width: 100%;
}

.post-upload__range input {
  width: 90%;
  outline: none;
}

@media (min-width: $tablet-width) {
  .post-upload {
    flex-direction: row;
    justify-content: center;
  }

  .post-upload__wrapper {
    padding: 0;
    margin: 0;
    max-width: 300px;
  }

  .post-upload__fieldset {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: auto;
    margin-left: 20px;
  }

  .post-upload__option {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 27px;
  }

  .post-upload__option label {
    display: block;
    font-weight: normal;
    line-height: 21px;
    font-size: 14px;
    width: 27px;
  }

  .post-upload__option label > svg {
    width: 22px;
    height: 22px;
  }

  .filter-option-label-last {
    text-align: left;
  }

  .post-upload__option .filter-option-label-last svg {
    width: 16px;
    height: 16px;
  }

  .post-upload__range {
    border: none;
    width: 240px;
    padding: 0;
  }

  .post-upload__range input {
    width: 90%;
    margin: 27px 20px;
  }

  .post-upload__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 93.9%;
    max-width: 800px;
    margin: 50px auto;
  }

  .post-upload__photo {
    min-width: 300px;
    padding: 0;
    margin-left: 10px;
  }

  .post-upload__post,
  .post-upload__cancel {
    width: 260px;
    padding: 18px 0;
  }
}

@media (min-width: $desktop-width) {
  .post-upload {
    width: 78.3%;
    max-width: 940px;
    margin: 0 auto;
  }

  .post-upload__wrapper {
    max-width: 410px;
  }

  .post-upload__inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 800px;
  }

  .post-upload__fieldset {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
  }

  .post-upload__option {
    justify-content: space-between;
  }

  .post-upload__range {
    border: none;
    width: 290px;
    padding: 0 25px;
  }

  .post-upload__range input {
    margin: 27px 0 27px 20px;
  }

  .post-upload__buttons {
    width: 100%;
    border-top: 1px #dddfe0 solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 150px 0 0 0;
    margin: 0;
  }

  .post-upload__post,
  .post-upload__cancel {
    width: 180px;
    padding: 18px 0;
    box-sizing: border-box;
  }

  .post-upload__option label > svg {
    width: 44px;
    height: 44px;
  }

  .filter-option-label-last {
    text-align: left;
  }

  .post-upload__option .filter-option-label-last svg {
    width: 32px;
    height: 32px;
  }
}
