.upload-range__hidden {
  display: none;
}

.upload-range input[type="range"] {
  width: 240px;
  border-radius: 8px;
  height: 2px;
  background-color: #283645;
}

.upload-range input[type="range"]::-webkit-slider-thumb {
  background-color: #f2f2f2;
  border: 2px solid #d22856;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .upload-range__hidden {
    display: block;
  }

  .upload-range__wrapper {
    border-bottom: 1px solid #dddfe0;
    width: 300px;
    margin-left: -50px;
  }

  .upload-range input[type="range"] {
    width: 200px;
    border-radius: 8px;
    height: 2px;
    background-color: #283645;
  }

  .upload-range input[type="range"]::-webkit-slider-thumb {
    background-color: #f2f2f2;
    border: 2px solid #d22856;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
    }
}

@media (min-width: $desktop-width) {
  .upload-range__wrapper {
    border-bottom: 1px solid #dddfe0;
    width: 410px;
    margin-left: -80px;
  }

  .upload-range input[type="range"] {
    width: 290px;
    border-radius: 8px;
    height: 2px;
    background-color: #283645;
  }

  .upload-range input[type="range"]::-webkit-slider-thumb {
    background-color: #f2f2f2;
    border: 2px solid #d22856;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
  }
}
